.craftcat {
    background-color: #fd0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.printcat {
    background-color: #fd0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.arcat {
    background-color: #00abc8;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.badgecat {
    background-color: #00abc8;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.codecat {
    background-color: #ff6b00;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.boxcat {
    background-color: #93d500;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.gifcat {
    background-color: #c10230;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.graphiccat {
    background-color: #c10230;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.graphycat {
    background-color: #870f54;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.kitcat {
    background-color: #00abc8;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.lasercat {
    background-color: #93d500;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.padcat {
    background-color: #c10230;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.pincat {
    background-color: #ff6b00;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.toycat {
    background-color: #870f54;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.zinecat {
    background-color: #870f54;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.bankcat {
    background-color: #93d500;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
