

/*
ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
}
*/

body {
	margin: 0;
	padding: 0;
}

/*Ajouter par Lino*/

.woocommerce ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	padding: 0;
	margin: 10px;
	/*list-style-type: none;*/
}

.woocommerce li.product {
	/*background-color: aqua;*/
	position: relative;
	display: block;
	box-shadow: 0 0 0.3em black;
	border-radius: 10px;
	cursor: pointer;
	margin: 50px;

	padding: 30px;



	background-color: white;

	
 }


 .woocommerce li.product img {
	 width: 100%;
	 height: auto;
 }




 .text_hide_hover {
	position: absolute !important;

	left: 0;
	top: 0;

	border-radius: 10px;
	padding: 10px;
	background-color: rgba(255, 255, 255, .7);

	opacity: 0;
	transition: 0.2s;

	z-index: 1;
 }


 .woocommerce li.product:hover > .text_hide_hover {
	 opacity: 1;
 }


 .title_hide {
	

	position: absolute !important;


	/*box-shadow: 0 0 0.3em black;*/
	border-radius: 10px;

	border: solid 1px black;
	cursor: pointer;

	height: 80%;

	padding: 5px;

	right: -10%;
	top: 50%;
	transform: translateY(-50%);

	background-color: white;

	transition: 0.2s;

	z-index: -1;
 }

 .title_hide h2 {
	writing-mode: vertical-rl;
	text-align: center;
	font-size: large;

	height: 100%;

	text-orientation: mixed;
	
	margin: 0px 0px 0px 20px;
 }
 .woocommerce li.product:hover > .title_hide {
	opacity: 1;
	right: 0px;
}


 a.button, 
button.button, 
input.button, 
#review_form #submit {
	/*font-family: 'futura_2rbold';*/
	font-size: 20px;

	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 3px black;
	border: none;
	padding: 5px;
	cursor: pointer;

	transition: 0.1s;

}

a.button:hover {
	background-color: black;
	border-radius: 5px;
	color: white;
	box-shadow: 0px 0px 3px white;
}


/*////////////////*/


/*
img{
	box-shadow: 0 0 0.3em black;
	border-radius: 10px;
	cursor: pointer;
}
*/


/*
li{
	flex: 1 1 33.33%;
	margin-bottom: 50px;
	text-align: center;
}

p.woocommerce-result-count{
	margin-left: 50px;
}

select.orderby{
	margin-left: 50px;
}

a.button {
	border: solid;
	padding: 10px;
	margin-left: 10px;
}

.price{
	font-size: 20px;
}

.added_to_cart {
	margin-left: 15px;
	border: solid;
	padding: 10px;
}

img.wp-post-image{
	float: left;
	margin-right: 20px;
}

div.summary{
	font-size: 20px;
}

div.woocommerce-Tabs-panel{
	margin-top: 20px;
}

#bannerR{
	margin-left: 20px;
}

li.description_tab{
	display: none;
}

h2{
	margin-left: 20px;
}

button.single_add_to_cart_button{
	font-family: 'futura_2rbold';
	font-size: 20px;
	width: 200px;
	background-color: white;
	height: 50px;
	box-shadow: 0 0 0.3em #ffdd00;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 20px;
}
*/